body{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2{
    padding: 9%;
    border: black;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h1{
    text-align: center;
    color: #0d6efd;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #a7a5a4;
    background-color: rgba(255, 255, 255, 0.377);
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
}


label{
    color: #070707;
}

span{
    color: red;
}


#boton{
    margin: auto;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
